.input {
    padding: 10px;
    border: none;
    border-radius:  20px;
    background-color: var(--dark-blue);
    height: 40px;
    color: white;
    font-size: 18px;
    text-align: center;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
        box-shadow: var(--box-shadow);
    }
}